<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>注册</title>
</head>
<body>
	<div class="container">
		<div class="login-wrap">
			<div class="left-wrap left">
				<div class="logo"></div>
				<a href="./login.html" class="btn btn-register">已有账号</a>
			</div>
			<!-- 登陆表单 -->
			<form action="#" class="login-form right" id="register-form">
				<div class="input-row mb40">
					<input type="text" id="email" name="userName" required data-name="邮箱">
					<label class="btn" for="email">邮箱</label>
				</div>
				<div class="input-row mb40">
					<input type="password" id="password" name="userKey" required data-name="密码">
					<label class="btn" for="password">密码</label>
				</div>
				<div class="input-row mb40">
					<input type="password" id="password2" name="userKey2" required data-name="验证密码">
					<label class="btn" for="password">验证密码</label>
				</div>
				<div class="input-row mb60">
					<a class="btn btn-login" id="btn-register">注册</a>
				</div>
				<div class="remember">
					<input type="checkbox" class="check-box" id="check-remember">
					<label for="check-remember" class="check-icon"></label>
					<label for="check-remember" class="ml12">我已阅读并同意曼陀罗<b>用户协议</b></label>
				</div>
			</form>
		</div>
	</div>
</body>
</html>