<div class="container">
	<div class="nav-left">
		<div class="logo"></div>
		<div class="intro-wrap">
			<a class="btn-back"><img src="../create-project/img/btn-back.png"></a>
		</div>
		<ul class="btn-eidt-list">
			<li class="preview-btn start-edit">编辑</li>
			<li class="preview-btn download">下载</li>
			<li class="preview-btn ">分享</li>
		</ul>
	</div>
	<div class="content right">
		<div class="p-content">
			<div class="each-c c-0">地域建筑</div>
		</div>
		<a class="preview-btn preview-btn-delete">删除</a>
	</div>
</div>
